body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
  outline:5px solid green;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
  width: 1200px;
}

.site-navigation {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.banner {
  background-color: #ffffff;
  background-image: url("../img/banner-shape.png"), url("../img/background-photo.jpg");

  background-repeat: no-repeat;
  background-position: center bottom, top center;
  background-size: 1200px 57px,1200px 773px;
  
}

.features h1 {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  font-size: 21px;
}

.features>p:first-of-type {
  line-height: 26px;
  color: #333333;
}

.features-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  /*color: #000000;*/
}

.features-item-more h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.features-item-more {
  color: #333333;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.features-item-inner .features-item {
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.modal-form input[type="text"],
.modal-form input[type="number"] {
  text-transform: uppercase;
  font: inherit;
}

.modal-search p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.modal-search p:nth-of-type(2) {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.modal-search .button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border:none;
}

.search-btn,
.submit-btn {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}

.submit-btn {
  background-color: #81b3d2;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #604e43;
}

.search-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0,3);
}

.plus-btn, .minus-btn {
  background-image: url("../img/plus-def.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  /*text-align: center;*/
}

.minus-btn {
  background-image: url("../img/minus-def.png");
}

.plus-btn:hover,
.plus-btn:focus {
  background-image: url("../img/plus-hover.png");
}

.minus-btn:hover,
.minus-btn:focus {
  background-image: url("../img/minus-hover.png");
}

.plus-btn:active {
  background-image: url("../img/plus-act.png");
}

.minus-btn:active {
  background-image: url("../img/minus-act.png");
}

.form-field {
  font-weight: bold;
}

.form-field input {
  font: inherit;

  background-color: #f2f2f2;
  border:none;
}

.form-field input:hover,
.form-field input:focus {
  background-color: #ebebeb;
}

.form-field input:active {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px 593px;
}

.svg {
  fill:#cacaca;
}

.svg:hover,
.svg:focus {
  fill: #000000;
}

.svg:active {
  fill:#81b3d2;
}

.hashtag a {
  background-color: transparent;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}

.main-footer ul,
.sort-list {
  list-style: none;
}

.twitter-wrap,
.fb-wrap,
.youtube-wrap {
  display:flex;
  background-color:#81b3d2;
  width: 46px;
  height: 48px;
}

.twitter-wrap:hover,
.fb-wrap:hover,
.youtube-wrap:hover,
.twitter-wrap:focus,
.fb-wrap:hover:focus,
.youtube-wrap:focus {
  background-color:#669ec0;
}

.twitter-wrap:active,
.fb-wrap:active,
.youtube-wrap:active {
  background-color: #5496bd;
}

.twitter-svg,
.fb-svg,
.youtube-svg {
  margin:auto;
}

.twitter-svg:active,
.fb-svg:active,
.youtube-svg:active {
  fill-opacity:0.3; 
}

.academy-svg path {
  fill: #231f20;
}

.academy-svg:hover path,
.academy-svg:focus path,
.academy-svg:hover rect,
.academy-svg:focus rect {
  fill: #81b3d2;
}

.academy-svg:active path,
.academy-svg:active rect {
  fill: #bdbbbc;
}


.filter-hotels {
  color:#ffffff;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-form label {
  font: inherit;
}

.filter-form fieldset {
  border: none;
}

.filter-form input[type="text"],
.filter-form button[type="submit"] {
  text-transform: uppercase;
  color:#ffffff;
  background-color: transparent;
}

.sort p:first-of-type,
article a>h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color:#000000;
}

article a>h3:hover,
article a>h3:focus {
  color:#81b3d2;
}

article a>h3:active {
  color: #000000;
  opacity: 0.3;
}

.sort-list a,
.sort p:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
}

.sort-list a {
  color: #000000;
  opacity: 0.3;
}

.sort-list li:first-of-type a {
  color: #81b3d2;
  opacity: 1;
}

.sort-list a:hover,
.sort-list a:focus {
  color:#81b3d2;
  opacity: 1;
}

.sort-list a:active {
  color:#000000;
  opacity:1;
}

article a:nth-of-type(3),
article a:nth-of-type(4) {
  font-weight: bold;
  color: #000000;
}

.container-wrap {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  margin-bottom: 0px;
}

.main-logo {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.site-navigation {
  display: flex;
  outline: 1px solid red;
  width: 1200px;
  
}

.site-navigation li {
  outline: 1px solid black;
  padding:22px;
  
}

.banner {
  margin-bottom: 65px;
  outline: 2px solid darkmagenta;
}

.features>h1 {
  outline:2px solid tomato;
  margin-bottom: 30px;
}

.slogan {
  outline: 2px solid goldenrod;
  margin-bottom: 57px;
}

.features-item-inner {
  display: flex;
}

.features-item-wrap {
  display: flex;
}

.features {
  margin-bottom: 55px;
}

.modal-search p:nth-last-of-type(1) {
  margin-bottom: 30px;
}

.modal-search p:nth-last-of-type(2) {
  margin-bottom: 45px;
}

.map {
  margin-bottom: 0px;
  width: 1200px;
  height: 593px;
}

.features-item {
  width: 400px;
}

.search-btn {
  margin-bottom: 0px;
  width: 568px;
  padding: 32px 100px;
}

.modal-form {
  width: 568px;
  margin:0 auto;
  margin-bottom: 78px;
}

.main-footer {
  display: flex;
}

.footer-social-button {
  display: flex;
}

.filter-hotels {
  margin-bottom: 30px;
}

.result-wrap {
  width: 1055px;
  margin: 0 auto;
}

.sort {
  margin-bottom: 0px;
  display: flex;
  align-items: baseline;
}

.sort-list {
  display: flex;
}

.result-search {
  margin-bottom: 0px;
}

.updown {
  margin-left: auto;
}

.sort p:first-of-type {
  padding-right: 25px;
  margin-right: auto;
}

.search-item {
  display: flex;
}

.search-item-wrap {
  display: flex;
  align-items: baseline;
}

.search-item-wrap div {
  margin-left: auto;
}

.search-item-inner {
  width: auto;
}